<p class="error" data-ng-show="error">{{error}}</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th><h4>Restaurant Name <input type="text" data-ng-model="restaurantFilterText"/></h4></th>
            <th><h4>Distance</h4></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="restaurant in restaurants | filter:restaurantFilterText | orderBy:'Distance'">
            <td><input class="pull-left" name="restaurantOptions" value="{{restaurant.Name}}" type="radio" data-ng-model="$parent.selectedRestaurant"/></td>
            <td><h5 class="span2">{{restaurant.Name}}</h5></td>
            <td><h5 class="span2">{{restaurant.Distance | number:2}} miles</h5></td>
        </tr>
    </tbody>
</table>
<br/>
<button class="btn" data-ng-click="vote()">Vote!</button>