<form id="createVoteSessionForm">
    <div>
        <div data-ng-repeat="voteSession in voteSessions">
            <h3><a href="#/selectRestaurant?voteSession={{voteSession.Name}}">{{voteSession.Name}}</a></h3>
        </div>
        <div>
            <input id="newVoteSessionNameInput" type="text" data-ng-model="newVoteSessionName"/> <button class="btn" data-ng-click="createVoteSession()">Create Vote Session</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $('#newVoteSessionNameInput').focus();
    });
</script>
